<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Propiedades Computadas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <!--las propiedades computadas son cacheadas-->
    <div id="app" class="container my-5">
        <h5>{{message}}</h5>
        <!--para las propiedades computadas solo se coloca el nombre-->
        <h5>volteado: {{inverted}}</h5>
        <input type="text" class="form-control" v-model="message">
        <hr>
        <button class="btn btn-primary" @click ="counter++"> +</button>
        <button class="btn btn-danger" @click=counter-->-</button>
        <hr>
        <h3>{{counter}}</h3>
        
        <div class="progress">
            <div class="progress-bar progress-bar-striped" :class="color"
            role="progressbar" :style="{'width': counter + '%'}" aria-valuenow="50" 
            aria-valuemin="0" aria-valuemax="100">{{counter}}</div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>